
.singleItem {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  img {
    position: relative;
    height: 250px;
    width: 250px;

  }
