.collectionCards {
    height: 100vh;
    overflow: auto;
    width: 65vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-evenly;
    flex-grow: 1;
  }