* {
    box-sizing: border-box;
  }
  
  
  
  div {
    align-items: center;
    margin: 50px;
  }
  
  .singleItem {
      position: relative;
      display: flex;
      
      flex-direction: column;
      align-items: center;
      margin: 50px;
      border: 1px solid black;
    }
  
    img {
      position: relative;
      height: 250px;
      width: 250px;
  
    }
  