* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .home,
  .collections,
  .about,
  .contact,
  .add {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }

  .App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: lightblue;
  
  }
  
