* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .rest {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: fixed;
    top: -25px;
    left: 12px;
    overflow: auto;

  }

  .App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: lightblue;
  
  }
