* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .rest {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightblue;
    position: fixed;
    top: 0;
    left: 250px;
  }

  .App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: lightblue;
  
  }
