
.backlinks {
    display: flex;
    align-items: center;
}

.individualItemCard {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;

    height: 100vh;
    overflow: auto;
    width: 60vw;
    left: 15px;
}